
<div class="search-results">
  <h1>Search Results for "<%= params[:query] %>"</h1>

  <% if @results.empty? %>
    <p>No ideas found.</p>
  <% else %>
    <div class="idea-container">
      <% @results.each do |result| %>
        <div class="idea">
          <h2><%= result.name %></h2>
          <p><%= truncate(result.description, length: 150) %></p>
          <img  src="<%= result.picture %>" alt="<%= result.name %>" />

          <p><%= link_to "View", idea_path(result.id) %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Back", ideas_path %>