<!DOCTYPE html>
<html>
<head>
  <title>Inspiration</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<nav class="navbar navbar-expand-lg navbar">
  <div class="container">
    <a class="navbar-brand" href="/ideas">The Idea App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to "New idea", new_idea_path %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
    </div>

  <%= form_tag(search_results_path, method: :get, class: "form-inline") do %>
    <div class="input-group mb-3">
      <%= text_field_tag :query, params[:query], placeholder: "Search Ideas...", class: "form-control" %>
      <div class="input-group-append">
        <%= submit_tag "Search", class: "btn btn-primary text-white" %>
      </div>
    </div>
  <% end %>


  </div>
</nav>
<body>
<div class="container">
  <%= yield %>
</div>
</body>
<footer>
  <div class="container">
    MongoDB Atlas and Ruby on Rails <%= Time.now.year %>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>